[submodule "emacs/.emacs.d/packages/lsp-mode"]
	path = emacs/.emacs.d/packages/lsp-mode
	url = https://github.com/emacs-lsp/lsp-mode
[submodule "emacs/.emacs.d/packages/lsp-rust"]
	path = emacs/.emacs.d/packages/lsp-rust
	url = https://github.com/emacs-lsp/lsp-rust
