! +----------------------------------------------+
! |----->     Xresources color scheme      <-----|
! +----------------------------------------------+
! special
*.foreground:   #d7dde8
*.background:   #2f343f
*.cursorColor:  #d7dde8
! black
*.color0:       #4e5b79
*.color8:       #4a5265
! red
*.color1:       #c6878f
*.color9:       #c6878f
! green
*.color2:       #8eb897
*.color10:      #70ad7d
! yellow
*.color3:       #f3dfa2
*.color11:      #dfca88
! blue
*.color4:       #6daedb
*.color12:      #5a9dcc
! magenta
*.color5:       #ddbdd5
*.color13:      #c3a3bb
! cyan
*.color6:       #ddfff7
*.color14:      #a9dede
! white
*.color7:       #f8f4e3
*.color15:      #d5d0be

! +----------------------------------------------+
! |----->         Font configs             <-----|
! +----------------------------------------------+
Xft.hinting: 1
Xft.rgba: rgb
Xft.hintStyle: "hintsmedium"
Xft.antialias: 1

! +----------------------------------------------+
! |----->           Rofi setup             <-----|
! +----------------------------------------------+
rofi.font:             Monaco 13
rofi.scrollbar-width:  0
rofi.padding:          28
rofi.lines:            5
rofi.color-window:     #2f343f, #2f343f, #6daedb
rofi.color-normal:     #2f343f, #88c0d0, #2f343f, #6daedb, #4b5262
rofi.color-active:     #2f343f, #76aebe, #2f343f, #6daedb, #76aebe
rofi.color-urgent: #2f343f, #bf616a, #2f343f, #6daedb, #bf616a

URxvt.cursorBlink  :0
URxvt.url-launcher :usr/bin/firefox-nightly
URxvt.font         :xft:RobotoMono:size=12
URxvt.boldFont     :xft:RobotoMono:size=12

URxvt.lineSpace               : 0
URxvt.letterSpace             : 1
URxvt.scrollBar               : false
URxvt.internalBorder          : 12
URxvt.cursorUnderline         : true
URxvt.geometry                : 60x25
URxvt.thickness               : 5
URxvt.titleBar                : false
URxvt.perl-ext-common         : default,tabbedex,matcher
URxvt.tabbed.new-button       : true
URXvt.tabbed.reopen-on-close  : no
URxvt.keysym.Control-Shift-t  : perl:tabbedex:new_tab
URxvt.keysym.Shifft-Right     : perl:tabbedex:next_tab
URxvt.keysym.Shift-Left       : perl:tabbedex:prev_tab
URxvt.tabbed.no-tabbedex-keys : true
