!! -*- mode: conf; eval: (rainbow-mode 1); -*-

!
! Generated with :
! XRDB2Xreources.py
!
*.foreground:  #e6e1cf
*.background:  #0f1419
*.cursorColor: #f29718
!
! Black
*.color0:      #000000
*.color8:      #323232
!
! Red
*.color1:      #ff3333
*.color9:      #ff6565
!
! Green
*.color2:      #b8cc52
*.color10:     #eafe84
!
! Yellow
*.color3:      #e7c547
*.color11:     #fff779
!
! Blue
*.color4:      #36a3d9
*.color12:     #68d5ff
!
! Magenta
*.color5:      #f07178
*.color13:     #ffa3aa
!
! Cyan
*.color6:      #95e6cb
*.color14:     #c7fffd
!
! White
*.color7:      #ffffff
*.color15:     #ffffff
!
! Bold, Italic, Underline
*.colorBD:     #e6e1cf
!*.colorIT:
!*.colorUL:

! +----------------------------------------------+
! |----->         Font configs             <-----|
! +----------------------------------------------+
Xft.hinting: 1
Xft.rgba: rgb
Xft.hintStyle: "hintsmedium"
Xft.antialias: 1

URxvt.cursorBlink  :0
URxvt.url-launcher :usr/bin/firefox-nightly
URxvt.font         :xft:FiraCode:size=12,xft:Source Code Pro:size=12
URxvt.boldFont     :xft:FiraCode:bold:size=12,xft:Source Code Pro:size=12
!URxvt.font	     :xft:scientifica:size=11
!URxvt.boldFont	     :xft:scientifica:size=11

URxvt.lineSpace               : 0
URxvt.letterSpace             : 0
URxvt.scrollBar               : false
URxvt.internalBorder          : 12
URxvt.cursorUnderline         : true
URxvt.geometry                : 60x25
URxvt.thickness               : 5
URxvt.titleBar                : false
URxvt.perl-ext-common         : default,tabbedex,matcher
URxvt.tabbed.new-button       : true
URXvt.tabbed.reopen-on-close  : no
URxvt.keysym.Control-Shift-t  : perl:tabbedex:new_tab
URxvt.keysym.Shifft-Right     : perl:tabbedex:next_tab
URxvt.keysym.Shift-Left       : perl:tabbedex:prev_tab
URxvt.tabbed.no-tabbedex-keys : true
